@import '../../../assets/globals';

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  min-height: 100vh;
  background-color: #f2f2f2;

  .ant-col-sm-offset-8 {
    margin-left: 0 !important;
  }

  .signup-form {
    width: 30%;
    max-width: 80%;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);

    h2 {
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10%;
    }

    .signup-form-button {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet-bp) {
  .signup-container {
    padding-top: 30%;

    .signup-form {
      width: 100%;
      max-width: 100%;
    }
  }
}
