@import '../../../assets/globals.scss';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 97%;
  background-color: $darker-blue;

  &__form {
    background-color: #fff;
    max-width: 430px;
    min-width: 250px;
    width: 60%;
    margin-top: 10%;
    padding: 1rem 5% 0 5%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &__header {
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      color: #555;
      margin-bottom: 3rem;
    }
  }

  &__signup-cta {
    background-color: #f2f2f2;
    max-width: 430px;
    min-width: 250px;
    width: 60%;
    padding: 1.5rem 5%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;

    &__content {
      color: #666;
    }
  }
}

@media only screen and (max-width: $tablet-bp) {
  .login {
    &__form,
    &__signup-cta {
      width: 80%;
    }
  }
}
