@import '../../assets/globals';

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 'left right';
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    background: #182848;
    background: @jumbo-gradient;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 15% 10%;
      grid-area: left;

      h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 70px;
        color: white;
      }

      p {
        font-size: 1.2rem;
      }

      .btn-container {
        margin-top: 1.5rem;
      }
    }

    .right {
      display: flex;
      align-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      grid-area: right;
      margin: auto;

      img {
        height: 300px;
        width: auto;
        margin: 0.1rem;
        filter: drop-shadow(15px 5px 25px rgba(17, 17, 17, 0.5));
      }
    }
  }

  .content {
    background-color: #f1f1f1;
    padding: 2rem 10%;
    width: 100%;

    h2 {
      font-weight: 600;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .steps-container {
    display: flex;

    .divider {
      height: 1px;
      width: 200px;
      border: 1px solid rgba(57, 73, 76, 0.35);
      margin: auto;
    }

    .step {
      display: flex;
      flex-direction: column;
      text-align: left;
      background-color: white;
      box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
      padding: 0.5rem 1rem;
      width: 50%;
      // margin: 0 auto;

      h3 {
        display: block;
        width: 50px;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        background-color: @primary-blue;
        border-radius: 25px;
        padding: 0.5rem 1rem;
        margin: 1rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-size: 1rem;
          font-weight: 200;
          margin: 0 1rem;
        }

        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          margin: 1rem 0;
        }
      }
    }
  }

  .end {
    padding: 5%;
    text-align: center;

    a {
      display: block;
      margin-top: 5%;
      color: @primary-blue;
      border: 1px solid @primary-blue;
      &:hover {
        border-color: @primary-blue;
        background-color: @primary-blue;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .homepage {
    .jumbo {
      min-height: 100%;
    }
  }
}

@media screen and (max-width: @tablet-bp) {
  .homepage {
    .jumbo {
      min-height: 100%;
      .left {
        padding: 15% 5%;
        min-height: 50vh;

        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 40px;
        }

        .btn-container {
          margin: 1rem 0;
          a {
            font-size: 0.8rem;
          }
        }
      }
      .right {
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        min-height: 50vh;
        img {
          width: 150px;
          height: auto;
        }
      }
    }

    .steps-container {
      padding: 2rem 1rem;
      flex-direction: column;
      align-items: center;

      .divider {
        width: 1px;
        height: 100px;
        border: 1px solid rgba(57, 73, 76, 0.35);
        margin: auto;
      }

      .step {
        width: 100%;

        div {
          flex-direction: column-reverse;
          span {
            width: 60%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .homepage {
    .jumbo {
      display: flex;
      flex-direction: column;
    }
  }
}

// @media screen and (max-width: @tablet-bp) {
//   .homepage {
//     .jumbo {
//       min-height: 100%;
//       grid-template-columns: 100%;
//       grid-template-areas:
//         'left' 'left'
//         'right' 'right';
//       .left {
//         padding: 1rem 0.5rem;

//         h2 {
//           font-size: 3rem;
//           line-height: 50px;
//         }
//       }

//       .right {
//         margin: 1rem 0;

//         img {
//           height: 200px;
//           width: auto;
//           margin: 0.1rem;
//           animation: slideup 1000ms ease-in 0ms 1 normal forwards;
//           filter: drop-shadow(15px 5px 25px rgba(17, 17, 17, 0.5));
//         }
//       }
//     }

//     .content {
//       padding: 2rem 5%;
//     }

//     .steps-container {
//       padding: 2rem 1rem;
//       flex-direction: column;

//       .divider {
//         width: 1px;
//         height: 100px;
//         border: 1px solid rgba(57, 73, 76, 0.35);
//         margin: auto;
//       }

//       .step {
//         width: 100%;

//         div {
//           flex-direction: column-reverse;
//           span {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }
// }
